################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PwnedPassword/config
/.vs/PwnedPassword/FileContentIndex
/PwnedPassword/obj/Debug
/PwnedPassword/bin
